<div class="panel">



  <div class="container-fluid">

    <div class="col-md-14">

      <div class="col-md-6">
          <input type="text" id="id_item" class="form-control" placeholder="Product name" ng-model="name" >
      </div>
      <div class="col-md-4">
        <input type="text" id="id_count" class="form-control" placeholder="Count" ng-model="count" >
      </div>
      <div class="col-md-2">
        <button class="btn btn-secondary btn-block" type="button" onclick="ClearFields();" ng-click="addItem(name, count)">ADD</button>
      </div>
    </div>

    <div class="col-md-12" style="height: 5px;" >
    </div>

    <div class="col-md-12">
        <div class="input-group">
          <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
          <input type="text" class="form-control" placeholder="Search Inventory Item" ng-model="searchItem">
        </div>
      </div>
  </div>

  <div class="col-md-12" style="height: 10px;" >
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="col-md-5">Item</th>
      <th class="col-md-3">Count</th>
      <th class="col-md-2">Operations</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="element in inventory_list | filter:searchItem">
        <td>{{element.name}}</td>
        <td>{{element.count}}</td>
        <td>
          <button type="button" class="btn btn-default btn-sm btn-success" data-toggle="tooltip" title="Add one"
                  ng-click="increaseItem(element.id);">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm btn-warning" data-toggle="tooltip" title="Remove one"
                  ng-click="decreaseItem(element.id);">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm btn-danger" data-toggle="tooltip" title="Delete item"
                  ng-click="deleteItem(element.id);">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
